{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - artwerks by Rishi Satsangi{% endblock %}

  {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com - artwerks by Rishi Satsangi">
		<meta property="og:description" content="Illustration, animation, and more by Rishi Satsangi">
		<meta property="og:image" content="http://imgsrc.artistcontrolbox.com/images/contents/2.jpg">
  {% endblock %} 

{% block headscript %}
<script>
	$(document).ready(function(){
		$.get( "http://hipsterjesus.com/api/?type=hipster-centric&paras=2", function( data ) {
	  		$('#statement').html(data.text);
		});
	});
</script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<h2>Artist Statement</h2>
	<div class="col-md-8" id="statement">oh shit, writing one now... </div>
{% endblock %}

