body {
	font-family: 'Arial', cursive;
	font-size: 1.4em;
	color:#888;
}
h1,h2,h3,h4,h5,h6,.navbar-brand {
	font-family: 'Arial', cursive;
}
.site-thumbnail {
	margin-bottom:25px;
}
.site-thumbnail img {
	margin-top:5px;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.57);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
	color: #888;
}

.navbar-default .navbar-nav>li>a.btn {
	color:#fff;
	padding:8;
	margin:8;
}
.navbar-default .navbar-nav>li>a.btn-primary:hover {
	background-color: #2d6ca2;
}

.acb-thumb, .acb-youtube-thumb {
	cursor: pointer;
}
.acb-full-image {
	display:inline-block;
	max-width:95%;
	max-height:95%;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.57);
}
.modal-body {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

td.quantity {
	width:100px;
	text-align:right;
}
td.name {
	width:200px;
	padding-right:10px;
}
td.note {
	width:150px;
	font-size: 0.8em;
}
td.note small {
	/*font-size: .7em;*/
}
td.time {
	font-size: 0.8em;
	/*text-align:left;*/
}
td.action {
	width:120px;
}

